a {
    background: none;
}

a:hover {
    cursor: pointer;
}

#content {
	width: 754px;
	margin: 0 auto;
}

#membersHeader {
    width: 754px;
    height: 26px;
	background: url(../images/img08.jpg) repeat-x;
    font-size: 18px;
}

.member {
    border-top: 1px solid #715558;
    height: 26px;
}

.member .name{
    width: 200px;
    float: left;
}

.member .dateRegistered {
    width: 154px;
    float: left;
}

.member .stats {
    width: 100px;
    float: left;
}

.member .lastPost {
    width: 300px;
    float: left;
    text-align: right;
}